<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Conversează. Online!</title>
    <link rel='stylesheet' href='css/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic' rel='stylesheet' type='text/css'>
    <link id="favicon" rel="icon" href="img/logo_444.png?v=2" type="image/png" sizes="16x16">
    <meta name="theme-color" content="#fff">

    <meta name="author" content="Iuliu Vișovan">
    <meta name="keywords" content="Conversează, Chat, Conversație online, Romania">
    <meta name="description" content="Are multe chestii faine. E tare. Promit." />

    <meta property="og:url" content="http://www.conversatie.online" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Conversează. Online!" />
    <meta property="og:description" content="Are multe chestii faine. E tare. Promit." />
    <meta property="og:image" content="http://www.conversatie.online/img/logo_54c7ec.png" />
</head>

<body>
    <img class="watermark" src="img/logo_444.png?v=2" alt="Watermark">

    <div class="app">
        <div class="messages col-md-12">
            <ul id="messages"></ul>
        </div>
        <div id="topBar">
            <div class="online-users">
                <div class="room-name"> </div>
                <div class="online-users-list">
                </div>
            </div>
            <select id="options" class="button-options" title="Opțiuni">
                <option value='0' selected>...</option>
                <option value='change-name'>Schimbă-ți numele</option>
                <option value='change-topic'>Alt subiect</option>
            </select>
        </div>
        <div class="top-bar">
            <div id="playBar" class="no-video">
                <div id="playBarVideo"></div>
                <div style="float: left; width: 80%; overflow: hidden; text-overflow: ellipsis;">
                    <div class="controls" onclick="toggleCurrentVideo()">
                        <img class="play-pause" src="../img/play-pause.png" alt="Play / Pause">
                    </div>
                    <span id="currentVideoName"></span>
                </div>
                <div class="mute-button" onclick="toggleMuteCurrentVideo()">
                    <img class="unmuted" src="../img/unmuted.svg">
                    <img class="muted" src="../img/muted.svg">
                </div>
            </div>
            <div id="aloneBar" class="no-video">
                <span id="pageLink" style="opacity: 0; font-size: 0px">http://conversatie.online</span>
                <span id="currentVideoName">
                    Cheamă un prieten, chat-ul ăsta e chiar fun. 
                    <a href="javascript:void(0);" style="cursor: pointer;" onclick="copyLink()">Copiază link</a>
                </span>
            </div>
        </div>
        <div id="btnAddPwa">
            <div class="mobile">
                <span class="title">Te rog adaugă la ecranul de start</span>
                <span>Notificări, acces instant și toate funcționalitățile disponibile cu un simplu click.</span>
                <span class="button-add" onclick="subscribeUser(); $(this).addClass('disabled')">Adaugă aplicația</span>
            </div>
            <div class="desktop">
                <span class="title">Te rog să vrei notificări</span>
                <span>Notificări cool și folositoare, cu simplu click.</span>
                <span class="button-add" onclick="subscribeUser(); $(this).addClass('disabled')">Bine, vreau notificări</span>
            </div>
        </div>
        <img src="" id="test" />
        <div class="users-who-saw">
        </div>
        <div class="footer">
            <div class="progress"></div>
            <input title="Scrie un mesaj" onkeydown="event.keyCode >= 32 && iAmWriting()" placeholder="Scrie..." id="inputMessage" autocomplete="off"
            />
            <button title="Trimite" class="opaque" id="inputSend" type="button" value="👌" onclick="sendMessage()">        
                <img style="height: 30px;" src="../img/send.svg"/>
            </button>
        </div>
    </div>

    <script src="js/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="js/name-list.js"></script>
    <script src="js/emoji-list.js"></script>
    <script src="js/multimedia-manager.js"></script>
    <script src="js/app.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-105380609-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>