<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Conversează. Online!</title>
    <link rel='stylesheet' href='css/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic' rel='stylesheet' type='text/css'>
    <!--Favicon-->
    <link id="favicon" rel="icon" href="img/favicon_1.png" type="image/png" sizes="16x16">
    <meta name="theme-color" content="#fff">
</head>

<body>
    <div class="app">
        <div class="messages col-md-12">
            <ul id="messages"></ul>
        </div>
        <div id="topBar">
            <div class="online-users">
                <div class="room-name"> </div>
                <div class="online-users-list">
                </div>
            </div>
            <select id="options" class="button-options" title="Opțiuni">
                <option value='0' selected>...</option>
                <option value='change-name'>Schimbă-ți numele</option>
                <option value='change-topic'>Alt subiect</option>
            </select>
        </div>
        <div id="btnAddPwa">
            <div class="mobile">
                <span class="title">Te rog adaugă la ecranul de start</span>
                <span>Notificări, acces instant și toate funcționalitățile disponibile cu un simplu click.</span>
                <span class="button-add" onclick="subscribeUser(); $(this).addClass('disabled')">Adaugă aplicația</span>
            </div>
            <div class="desktop">
                <span class="title">Te rog să vrei notificări</span>
                <span>Notificări cool și folositoare, cu simplu click.</span>
                <span class="button-add" onclick="subscribeUser(); $(this).addClass('disabled')">Bine, vreau notificări</span>
            </div>
        </div>
        <div class="footer">
            <input title="Scrie un mesaj" onkeydown="event.keyCode >= 32 && iAmWriting()" placeholder="Scrie..." id="inputMessage" autocomplete="off"
            />
            <button title="Trimite" class="opaque" id="inputSend" type="button" value="👌" onclick="sendMessage()">        
                <img style="height: 30px;" src="http://cdn.onlinewebfonts.com/svg/img_542962.svg"/>
            </button>
        </div>
    </div>

    <script src="js/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="js/name-list.js"></script>
    <script src="js/emoji-list.js"></script>
    <script src="js/multimedia-manager.js"></script>
    <script src="js/app.js"></script>
</body>

</html>