<!DOCTYPE html>
<html>
<head>
    <title>ch</title>
    <link rel='stylesheet' href='css/style.css'/>
    <link rel='stylesheet' href='css/bootstrap.min.css'/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic' rel='stylesheet'
          type='text/css'>
</head>
<body>
<div class="app">
    <div class="messages col-md-12">
        <ul id="messages"></ul>
    </div>
    <div class="footer">
        <input class="form-control" title="Scrie un mesaj" placeholder="Scrie" id="inputMessage" autocomplete="off"/>
    </div>
</div>


<script src="js/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="js/handler_client.js"></script>

</body>
</html>
