body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    transition: 0.2s all ease-in-out;
    margin: 0;
}

a {
    color: white;
}

.app {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    max-width: 670px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

#inputMessage {
    width: calc(100% - 75px);
    padding: 3px 10px;
    border: none;
    outline: none;
    height: 40px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

::-webkit-input-placeholder {
    color: #acaebc;
}

#inputSend {
    position: absolute;
    height: 55px;
    width: 70px;
    bottom: -5px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
}

.messages {
    padding: 0!important;
    height: calc(100% - 47px);
    overflow-y: auto;
    overflow-x: hidden;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#messages li {
    will-change: padding opacity;
    position: relative;
    animation-name: fresh;
    animation-duration: 0.5s;
    font-family: 'Open Sans', sans-serif;
    transition: opacity 1s ease-in-out;
}


/* #messages li.fresh {
    animation-name: fresh;
    animation-duration: 1s;
} */

@keyframes fresh {
    from {
        padding: 10px 0px;
    }
}

#messages li:last-of-type:not(.writing) {
    padding-bottom: 15px!important;
}

#messages li {
    padding: 15px;
    text-align: right;
    border-right: 3px solid white;
}

#messages li.join.me {
    text-align: left;
    border-right: none;
    border-left: 3px solid white;
}

#messages li.mine {
    border-left: 3px solid white;
    border-right: none;
}

#messages li+li {
    padding: 3px 15px;
}

#messages li:not(.join):hover .message-time-individual {
    display: inline;
}

.message-time-individual {
    font-size: 11px;
    margin: 10px;
    display: none;
}

#messages li:not(.join).mine {
    text-align: left;
}

#messages li:not(.join).same-sender .message-author {
    display: none;
}

#messages li:not(.same-sender):not(.join):not(.leave) {
    padding-top: 15px;
    padding-bottom: 5px;
}

.message-author {
    position: absolute;
    top: -2px;
    border-radius: 30px;
    padding: 0 8px;
    font-weight: 300;
    font-size: 11px;
}

.message-author {
    right: 10px;
}

.mine .message-author {
    display: none;
}

.message-text {
    display: inline-block;
    color: white;
    border-radius: 10px 5px;
    padding: 5px 7px;
    padding-bottom: 7px;
}

.join-author,
.join-author-old {
    font-weight: 700;
}

.join,
.leave {
    padding: 10px;
    border: none;
    text-align: center;
    color: white;
}

.join.me .join-author {
    cursor: pointer;
    text-decoration: underline;
}

.join.me .join-author:hover {
    text-decoration: none;
}

.emoji {
    font-size: 22px;
    position: relative;
    top: 3px;
    display: inline-block;
    margin-top: -10px;
}

.button-options {
    -moz-appearance: none;
    position: absolute;
    left: 0;
    top: -10px;
    right: 0;
    margin: auto;
    background: transparent;
    outline: none;
    border: none;
    font-size: 30px;
    width: 25px;
    cursor: pointer;
    -webkit-appearance: button;
    font-family: 'Open Sans', sans-serif;
}

.opaque {
    opacity: 0.4;
    pointer-events: none;
}

#btnAddPwa {
    position: absolute;
    display: block;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
    height: 120px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: none;
}

#btnAddPwa .title {
    display: block;
    width: 100%;
    color: #E91E63;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 5px;
}

#btnAddPwa .button-add {
    background: #E91E63;
    color: white;
    font-weight: 500;
    border-radius: 30px;
    padding: 5px 10px;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    box-shadow: -2px 4px 7px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

#btnAddPwa .button-add.disabled {
    opacity: 0.6;
    pointer-events: none;
}

#btnAddPwa .button-add:hover {
    box-shadow: -2px 4px 7px rgba(0, 0, 0, 0.3);
}

#btnAddPwa .mobile {
    display: none;
}

@media(max-width: 1024px) {
    #btnAddPwa .desktop {
        display: none;
    }
    #btnAddPwa .mobile {
        display: block;
    }
}

.writing.mine {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

.seen-on-focus {
    opacity: 0.5;
}
