body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    transition: 0.2s all ease-in-out;
    margin: 0;
}

.app {
    position: fixed;
    height: 100%;
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    overflow: hidden;
}

#inputMessage {
    width: calc(100% - 75px);
    padding: 3px 10px;
    border: none;
    outline: none;
    height: 40px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

::-webkit-input-placeholder {
    color: #acaebc;
}

#inputSend {
    position: absolute;
    height: 38px;
    width: 70px;
    bottom: 4px;
    bottom: 1px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
}

.messages {
    padding: 0!important;
    height: calc(100% - 47px);
    overflow-y: auto;
    overflow-x: hidden;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#messages li {
    will-change: padding;
    position: relative;
    animation-name: fresh;
    animation-duration: 0.5s;
    font-family: 'Open Sans', sans-serif;
}


/* #messages li.fresh {
    animation-name: fresh;
    animation-duration: 1s;
} */

@keyframes fresh {
    from {
        padding: 10px 0px;
    }
}

#messages li:last-of-type {
    padding-bottom: 15px!important;
}

#messages li {
    padding: 15px;
    text-align: right;
    border-right: 3px solid white;
}


#messages li.join.me {
    text-align: left;
    border-right: none;
    border-left: 3px solid white;
} 

#messages li.mine {
    border-left: 3px solid white;
    border-right: none;
}

#messages li:not(.join):not(.leave)+li {
    padding: 3px 15px;
}

#messages li:not(.join):hover .message-time-individual {
    display: inline;
}

.message-time-individual {
    font-size: 11px;
    margin: 10px;
    display: none;
}

#messages li:not(.join).mine {
    text-align: left;
}

#messages li:not(.join).same-sender .message-author {
    display: none;
}

#messages li:not(.same-sender):not(.join):not(.leave) {
    padding-top: 15px;
    padding-bottom: 5px;
}

.message-author {
    position: absolute;
    top: -2px;
    border-radius: 30px;
    padding: 0 8px;
    font-weight: 300;
    font-size: 11px;
}

.message-author {
    right: 10px;
}

.mine .message-author {
    display: none;
}

.message-text {
    display: inline-block;
    color: white;
    border-radius: 10px 5px;
    padding: 5px 7px;
    padding-bottom: 7px;
}

.join-author,
.join-author-old {
    font-weight: 700;
}

.join, .leave {
    padding: 10px;
    border: none;
    text-align: center;
    color: white;
}

.join.me .join-author {
    cursor: pointer;
    text-decoration: underline;
}

.join.me .join-author:hover {
    text-decoration: none;
}

.emoji {
    font-size: 22px;
    position: relative;
    top: 3px;
    display: inline-block;
    margin-top: -10px;
}

.button-options {
    position: absolute;
    left: 0;
    top: -10px;
    right: 0;
    margin: auto;
    background: transparent;
    outline: none;
    border: none;
    font-size: 30px;
    width: 25px;
    cursor: pointer;
    -webkit-appearance: button;
    font-family: 'Open Sans', sans-serif;
}

.opaque {
    opacity: 0.4;
    pointer-events: none;
}